body{
    background-image: url('imagenes/FONDO-PANTALLA.jpeg');
    background-size: contain;
}
.cara-conteiner{
    display: flex;
    justify-content: left;
}
.Principio{
    color: red;
    background-color: black;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
}
a{
    color: black;
}
.Inicio {
    padding: 30px 550px;
    display: flex;
    justify-content: center;
}
.cara{
    padding: 50px;
    padding-left: 20px;
    list-style: none;

}
h1{
    background-color: red;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center ;
}
h2{
    background-color: red;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
.equiposCtb{
    width: 500px;
    height: 300px;
}
.Online{
    width: 500px;
    height: 800px;
}
.modular{
    width: 500px;
    height: 300px;
}
.Video{
    color: red;
    background-color: black;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
}
.FB {
    width: 50px;
    height: 50px;
}
.IG {
    width: 50px;
    height: 50px;
}

