.Inicio {
    padding: 20px 500px;
    border: 2px solid red;
    display: flex;
    justify-content: flex-end;
}
 ul {
color: black;
}
header {
    padding: 20px 5px;
}
.Principio{
    color: red;
    background-color: black;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
}
#nosotros {
    color: black;
    font-size: 20px;
}
.paragraph-orange {
    color: black;
}
#equiposdeAltaRotacion {
    color: black;
    font-size: 20px ;
}
.paragraph-red {
    color: black;
    background-color: red;
}
#Seriesonline {
    color: black;
    font-size: 20px;
}
.paragraph-green{
    color: black;
    background-color: greenyellow;
}
body {
background-image: url('imagenes/FONDO-LYONN.jfif');
background-size: contain;
background-repeat: repeat;
}
.Video{
    color: red;
    background-color: black;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
}
.paragraph-yellow{
    color: black;
    background-color: yellow;
}
footer {    
    list-style: none;
}
.FB {
    width: 50px;
    height: 50px;
}
.IG {
    width: 50px;
    height: 50px;
}

